<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-12">
    <h1><strong><%= @employee.name %></strong></h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h3><strong>Company</strong></h3>
  </div>
</div>
<%= react_component("Paginate", { data: [@employee.company], type: "companies" }) %>

<div class="row">
  <div class="col-sm-6">
    <h3><strong>Location</strong></h3>
  </div>
</div>
<%= react_component("Paginate", { data: [@employee.location], type: "locations" }) %>

<div class="row">
  <div class="col-sm-12">
    <h3><strong>Courses Enrolled in</strong></h3>
  </div>
</div>
<%= react_component("Paginate", { data: @employee.courses, type: "courses" }) %>


<br>
<%= link_to 'Edit', edit_location_path(@employee) %> |
<%= link_to 'Back', locations_path %>
