<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @participant.employee %>
</p>

<p>
  <strong>Course:</strong>
  <%= @participant.course %>
</p>

<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
