<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-12">
    <h1><strong><%= @company.name %></strong></h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h3><strong>Locations</strong></h3>
  </div>
</div>
<%= react_component("Paginate", { data: @company.locations, type: "locations" }) %>


<div class="row">
  <div class="col-sm-12">
    <h3><strong>Courses</strong></h3>
  </div>
</div>
<%= react_component("Paginate", { data: @company.courses, type: "courses" }) %>

<div class="row">
  <div class="col-sm-12">
    <h3><strong>Employees</strong></h3>
  </div>
</div>
<%= react_component("Paginate", { data: @company.employees, type: "employees" }) %>


<br>
<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
