<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-12">
    <h1><strong><%= @course.name %></strong></h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h3><strong>Description</strong></h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-11">
    <%= @course.description %>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h3><strong>Company</strong></h3>
  </div>
</div>
<%= react_component("Paginate", { data: [@course.company], type: "companies" }) %>

<div class="row">
  <div class="col-sm-6">
    <h3><strong>Location</strong></h3>
  </div>
</div>
<%= react_component("Paginate", { data: [@course.location], type: "locations" }) %>


<div class="row">
  <div class="col-sm-12">
    <h3><strong>Employees Enrolled</strong></h3>
  </div>
</div>
<%= react_component("Paginate", { data: @course.employees, type: "employees" }) %>


<br>
<%= link_to 'Edit', edit_location_path(@course) %> |
<%= link_to 'Back', locations_path %>
