<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-12">
    <h1><strong><%= @location.name %></strong></h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h3><strong>Parent Company</strong></h3>
  </div>
</div>
<%= react_component("Paginate", { data: [@location.company], type: "companies" }) %>

<div class="row">
  <div class="col-sm-12">
    <h3><strong>Courses</strong></h3>
  </div>
</div>
<%= react_component("Paginate", { data: @location.courses, type: "courses" }) %>

<div class="row">
  <div class="col-sm-12">
    <h3><strong>Employees</strong></h3>
  </div>
</div>
<%= react_component("Paginate", { data: @location.employees, type: "employees" }) %>


<br>
<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
